@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-dark-bg: #0f1115;
  --color-dark-card: #1c1f26;
  --color-dark-border: #2a2d35;
  --color-primary: #3b82f6;
  --color-primary-glow: rgba(59, 130, 246, 0.5);
  --color-accent: #10b981;
}

body {
  background-color: var(--color-dark-bg);
  color: #f3f4f6;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar for horizontal lists */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
